.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal {
  background-color: #fff;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.custom-modal h3 {
  margin-bottom: 20px;
  color: #333;
}

.custom-modal select,
.custom-modal input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.custom-modal button {
  margin: 0 5px;
  border-radius: 6px;
  cursor: pointer;
}

.header_card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: #604175 !important;
}

.editmodal_card {
  border: 2px solid #604175;
  color: #604175;
}